@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #fc7256;
}

body {
  padding: 3rem;
}

.primary-color {
  color: #fc7256;
}

h1 {
  margin: 2rem auto 0.2rem auto;
  font-size: 2rem;
}

.global-value {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
}

.global-value-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  margin: 1rem auto;
}

.global-value-input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}

p {
  font-size: 1.2rem;
}

@media screen and (max-width: 415px) {
  html {
    font-size: 70%;
  }
  body {
    padding: 1rem;
  }
}
